<header>
    <div class="navbar navbar-danger bg-success red-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i color="danger" style="font-size: 40px;" class="fas fa-store">&nbsp;</i>
            <strong style="font-size: 30px;">REFACCIONARIA</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder>
            </div>
           
        </div>
        <button routerLink="cart" class="btn btn-success">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i> 
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>